<h2>Current Issues</h2>

<!-- Read the computed signal by calling it like a function -->
<h3 class="open-issues-count">
  Open Issues: {{ issueService.openIssuesCount() }}
</h3>

<input 
  placeholder="Search issues..." 
  (input)="issueService.searchTerm.set($any($event.target).value)" 
  class="search-input" 
/>

<ng-container *appSkeletonLoader="issueService.issuesResource.isLoading()">
  @for (issue of issueService.filteredIssues(); track issue.id) {
    <app-issue-card [status]="issue.status" tooltipText="Click View for details.">
      <!-- Default slot: This text automatically goes into <ng-content> -->
      <div class="issue-header">
        <h3 class="issue-title">
          {{ issue.title }}
          <span class="issue-status">[{{ issue.status }}]</span>
        </h3>
        
        <small class="issue-date text-muted">
          <i class="clock-icon"></i> Created {{ issue.createdAt | timeAgo }}
        </small>
      </div>
      
      <p class="issue-description">{{ issue.description }}</p>
      
      <div class="issue-meta">
        <div class="issue-tags">
          @for (tag of issue.tags; track tag) {
            <span class="tag">#{{ tag }}</span>
          }
        </div>
        
      </div>
      <!-- New Button for issue details -->
      <button actions (click)="viewDetails(issue.id)">View</button> 
      @if (issue.status === 'Open') {      
        <!-- Named slot: The 'actions' attribute targets <ng-content select="[actions]"> -->
        <!-- Emit the output event when clicked -->
        <button actions (click)="issueService.onResolveIssue(issue.id)" class="btn-resolve">Resolve</button>
      }
      <!-- The edit button now calls the service directly -->
      <button actions (click)="issueService.editIssue(issue.id)" class="btn-edit">Edit</button>
      <button actions (click)="issueService.deleteIssue(issue.id)" class="btn-edit">Delete</button>          
    </app-issue-card>
  } @empty {
    <p>No issues found.</p>
  }    
</ng-container>

<!-- The Edit Form -->
@defer (when issueService.selectedIssue() !== null) {
  <app-issue-edit></app-issue-edit>
} @placeholder {
  <!-- This renders synchronously while we wait for the trigger -->
  <div></div>
} @loading {
  <!-- This renders while the JavaScript chunk is actively downloading over the network -->
  <p>Downloading Edit Module...</p>
}